<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoder позволяет настроить формат вывода логов -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования по умолчанию -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
